<div class="wrapper wrapper-full-page">
  <div class="page-header login-page header-filter" filter-color="black"
    style="background-image: url('./assets/img/lock.jpg'); background-size: cover; background-position: top center;">
    <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto">
          <form class="form" [formGroup]="formLogin">
            <div class="card card-login card-hidden">
              <div class="card-header card-header-uft text-center">
                <h4 class="card-title">Login</h4>
              </div>
              <div class="card-body ">
                <span class="bmd-form-group"
                  [ngClass]="{ 'custom-is-invalid': formLogin.controls['usuario'].touched && formLogin.controls['usuario'].invalid }">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">face</i>
                      </span>
                    </div>
                    <input type="text" class="form-control" formControlName="usuario" name="usuario"
                      placeholder="Email" />
                  </div>
                  <!-- <span class="custom-error">
                    <p *ngIf="formLogin.controls['usuario'].errors?.required">
                      Obligatorio
                    </p>
                  </span> -->
                </span>
                <span class="bmd-form-group "
                  [ngClass]="{ 'custom-is-invalid': formLogin.controls['clave'].touched && formLogin.controls['clave'].invalid }">
                  <div class="input-group ">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">lock_outline</i>
                      </span>
                    </div>
                    <input type="password" class="form-control " (keyup.enter)="login()" formControlName="clave"
                      name="clave" placeholder="Clave" />
                  </div>
                  <!--  <span class="custom-error">
                    <p *ngIf="formLogin.controls['clave'].errors?.required">
                      Obligatorio
                    </p>
                  </span> -->
                </span>
              </div>
              <div class="card-footer justify-content-center">
                <button type="button" mat-button (click)="login()"
                  class="btn btn-primary mt-3 py-2 btn-lg">Ingresar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>