<div class="authentication-wrapper authentication-2 ui-bg-cover ui-bg-overlay-container px-4"
    style="background-image: url('assets/img/bg/16.jpg');">
    <div class="ui-bg-overlay bg-dark opacity-25"></div>

    <div class="authentication-inner py-5">

        <div class="card">
            <div class="py-4 px-5">
                <!-- Logo -->
                <div class="d-flex justify-content-center align-items-center pb-2 mb-2">
                    <div class="w-100 position-relative text-center">
                        <img src="assets/img/natura/logo-sm.png" style="max-height: 150px;" class="img-fluid">
                    </div>
                </div>
                <!-- / Logo -->

                <ng-container *ngIf="!visibleTwoFactorAuthentication; else elseTemplateLogin">
                    <!-- Form -->
                    <form [formGroup]="formularioLogin" class="my-3">
                        <div class="form-group">
                            <label class="form-label">Email</label>
                            <input formControlName="email" name="email" (keydown.enter)="login()" type="input"
                                [ngClass]="{'is-invalid': formularioLogin.controls['email'].touched && formularioLogin.controls['email'].invalid}"
                                class="form-control">
                            <small class="invalid-feedback">
                                <p
                                    *ngIf="formularioLogin.controls['email'].errors?.required && formularioLogin.controls['email'].touched">
                                    Campo obligatorio
                                </p>
                            </small>
                        </div>
                        <div class="form-group">
                            <label class="form-label d-flex justify-content-between align-items-end">
                                <div>Clave</div>
                                <!-- <a [routerLink]="['/login/recover-password']" class="d-block small">
                                ¿Olvidaste tu clave?
                            </a> -->
                            </label>
                            <input formControlName="password" name="password" type="password" (keydown.enter)="login()"
                                class="form-control"
                                [ngClass]="{'is-invalid': formularioLogin.controls['password'].touched && formularioLogin.controls['password'].invalid}">
                            <small class="invalid-feedback">
                                <p
                                    *ngIf="formularioLogin.controls['password'].errors?.required  && formularioLogin.controls['password'].touched">
                                    Campo obligatorio
                                </p>
                            </small>
                        </div>
                        <div class="d-flex justify-content-between align-items-center m-0 ">
                            <button type="button" class="btn btn-natura mx-auto" [disabled]="loading" (click)="login()">
                                <app-text-btn [loading]="loading" [pogressbar]="true" textLoaded="Ingresar"
                                    textLoading="Ingresando">
                                </app-text-btn>
                            </button>
                        </div>
                    </form>
                    <!-- / Form -->
                </ng-container>
                <ng-template #elseTemplateLogin>

                    <!-- Form -->
                    <form [formGroup]="formularioTwoFactor" class="my-3">
                        <div class="form-group">
                            <label class="form-label">Authentication code</label>
                            <input formControlName="code" name="code" (keydown.enter)="verificarTwoFactor()"
                                type="input" autocomplete="off"
                                [ngClass]="{'is-invalid': formularioTwoFactor.controls['code'].touched && formularioTwoFactor.controls['code'].invalid}"
                                class="form-control">
                            <small class="invalid-feedback">
                                <p
                                    *ngIf="formularioTwoFactor.controls['code'].errors?.required && formularioTwoFactor.controls['code'].touched">
                                    Campo obligatorio
                                </p>
                            </small>
                        </div>

                        <div class="d-flex justify-content-between align-items-center m-0 ">
                            <button type="button" class="btn btn-natura mx-auto" [disabled]="loading"
                                (click)="verificarTwoFactor()">
                                <app-text-btn [loading]="loading" [pogressbar]="true" textLoaded="Verificar"
                                    textLoading="Verificando">
                                </app-text-btn>
                            </button>
                        </div>
                    </form>
                    <!-- / Form -->

                </ng-template>



            </div>
            <!-- <div class="card-footer py-3 px-4 px-sm-5">
                <div class="text-center text-muted">
                    Don't have an account yet? <a href="javascript:void(0)">Sign Up</a>
                </div>
            </div> -->
        </div>

    </div>
</div>