<div class="card">
  <div class="card-header">
    <h3 class="card-title">
      {{accion}}&nbsp;Usuario
    </h3>

    <!-- <h5 class="card-description">This information will let us know more about you.</h5> -->
  </div>
  <div class="card-body">
    <form [formGroup]="formulario">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label class="form-label">Nombre</label>
            <input type="text" placeholder="Nombre" class="form-control " formControlName="nombre" autocomplete="off"
              [ngClass]="{'is-invalid': isValidFormControl('nombre')}">
            <small *ngIf="isValidFormControl('nombre')" class="invalid-feedback">
              El nombre es <strong>requerido</strong>
            </small>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
            <label class="form-label">Apellidos</label>
            <input type="text" placeholder="Apellidos" class="form-control " formControlName="apellidos"
              autocomplete="off" [ngClass]="{'is-invalid': isValidFormControl('apellidos')}">
            <small *ngIf="isValidFormControl('apellidos')" class="invalid-feedback">
              Los apellidos son <strong>requeridos</strong>
            </small>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="form-group">
            <label class="form-label">Email</label>
            <input type="email" placeholder="Email" class="form-control " formControlName="email" autocomplete="off"
              [ngClass]="{'is-invalid': isValidFormControl('email')}">
            <small *ngIf="isValidFormControl('email')" class="invalid-feedback">
              El apellido es <strong>requerido</strong>
            </small>
          </div>
        </div>

        <div class="col-sm-12" *ngIf="isAdmin && usuario.id != 0">
          <div class="form-group">
            <label class="form-label">Password</label>
            <button type="button" style="display: block;" class="btn btn-natura btn-sm mt-2" (click)="createToken()"
              [disabled]="creandoToken">
              <app-text-btn [loading]="creandoToken" [pogressbar]="true"
                textLoaded="Generar token y notificar al correo" textLoading="Generando token">
              </app-text-btn>
            </button>
          </div>
        </div>

        <div class="col-sm-12 mt-3" *ngIf="userLoad">
          <label for="">Roles asignados</label>
          <app-multi-select-rol-activo [roles]="usuario.roles" (rolesSeleccionados)="rolesSeleccionados($event)">
          </app-multi-select-rol-activo>
        </div>

      </div>
    </form>


  </div>
  <div class="card-footer ">
    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-muted btn-sm" (click)="volver()">Volver</button>

      </div>
      <div class="col text-right">
        <button type="button" class="btn btn-primary btn-sm" (click)="guardar()" [disabled]="saving">
          <app-text-btn *ngIf="!isEdit" [loading]="saving" [pogressbar]="true" textLoaded="Guardar"
            textLoading="Guardando">
          </app-text-btn>

          <app-text-btn *ngIf="isEdit" [loading]="saving" [pogressbar]="true" textLoaded="Actualizar"
            textLoading="Actualizando">
          </app-text-btn>
        </button>
      </div>

    </div>

  </div>
</div>