<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 mr-auto ml-auto">
        <div class="card card-wizard" data-color="uft" id="wizardProfile">
          <form>
            <div class="card-header text-center">
              <h3 class="card-title">
                Fomulario
              </h3>
              <h5 class="card-description">This information will let us know more about you.</h5>
            </div>
            <div class="card-footer">
              <div class="mr-auto">
                <input type="button" class="btn btn-previous btn-fill btn-primary btn-wd disabled" name="previous"
                  value="Anterior">
              </div>
              <div class="ml-auto">
                <input type="button" id="btn_next" class="btn btn-next btn-fill btn-primary btn-wd" name="next"
                  value="siguiente">
                <input type="button" id="btn_finish" class="btn btn-finish btn-fill btn-primary btn-wd" name="finish"
                  value="finalizar" style="display: none;">
              </div>
              <div class="clearfix"></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>