<div class="authentication-wrapper authentication-2 ui-bg-cover ui-bg-overlay-container px-4"
    style="background-image: url('assets/img/bg/16.jpg');">
    <div class="ui-bg-overlay bg-dark opacity-25"></div>

    <div class="authentication-inner py-5">

        <div class="card">
            <div class="py-4 px-5">
                <!-- Logo -->
                <div class="d-flex justify-content-center align-items-center pb-2 mb-2">
                    <div class="w-100 position-relative text-center">
                        <img src="assets/img/natura/logo-sm.png" style="max-height: 150px;" class="img-fluid">
                    </div>
                </div>
                <!-- / Logo -->

                <h4 class="text-center text-muted font-weight-normal mb-4">{{title}}</h4>

                <!-- Form -->
                <form [formGroup]="formularioPassword" class="my-3">
                    <div class="form-group">

                        <label class="form-label">Clave</label>
                        <ng2-password-strength-bar style="display: inline-flex; float: right;"
                            [passwordToCheck]="formularioPassword.controls['password'].value" [barColors]="myColors">
                        </ng2-password-strength-bar>
                        <input formControlName="password" name="password" (keydown.enter)="finalizar()" type="password"
                            autocomplete="off"
                            [ngClass]="{'is-invalid': formularioPassword.controls['password'].touched && formularioPassword.controls['password'].invalid}"
                            class="form-control">

                        <!-- <small class="invalid-feedback">
                            <p
                                *ngIf="formularioPassword.controls['password'].errors?.required && formularioPassword.controls['password'].touched">
                                Campo obligatorio
                            </p>
                        </small> -->
                    </div>
                    <div class="form-group">
                        <label class="form-label d-flex justify-content-between align-items-end">
                            <div>Confirmar clave</div>
                        </label>
                        <input formControlName="passwordConfirm" name="passwordConfirm" type="password"
                            autocomplete="off" (keydown.enter)="finalizar()" class="form-control"
                            [ngClass]="{'is-invalid': formularioPassword.controls['passwordConfirm'].touched && formularioPassword.controls['passwordConfirm'].invalid}">
                        <!-- <small class="invalid-feedback">
                            <p
                                *ngIf="formularioPassword.controls['passwordConfirm'].errors?.required  && formularioPassword.controls['passwordConfirm'].touched">
                                Campo obligatorio
                            </p>
                        </small> -->
                    </div>
                    <div class="d-flex justify-content-between align-items-center m-0 ">
                        <button type="button" class="btn btn-natura mx-auto" [ngClass]="{'disabled': loading}"
                            (click)="finalizar()">Finalizar</button>
                    </div>
                </form>
                <!-- / Form -->

            </div>
            <!-- <div class="card-footer py-3 px-4 px-sm-5">
                <div class="text-center text-muted">
                    Don't have an account yet? <a href="javascript:void(0)">Sign Up</a>
                </div>
            </div> -->
        </div>

    </div>
</div>