<div class="ui-bg-cover">
    <div class="ui-bg-overlay bg-dark opacity-25"></div>
    <div class="row justify-content-center w-100 h-100">
        <div class="col-sm-12 mb-5 mt-4 text-center">
            <!-- <h3>HELLO!</h3>
            <h4> <a routerLink="/admin/administracion/usuario">Usuarios</a> </h4>
            <h4> <a href="#" (click)="logout()">Logout</a> </h4> -->

            <qrcode *ngIf="imageQr != null" [qrdata]="imageQr" [width]="250" [errorCorrectionLevel]="'M'"> </qrcode>

        </div>
    </div>

</div>